/* Google font */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');

/* css variables */
:root{
    --head:#44454f;
    --p:#888;
    --orange:#ffc727;
    --dark:#071c33;
    --lightgrey:#b0bec5;
    --midnightblue:#0e2a47;
    --deepblue:#544BAB;
    --dodgerblue:#1273eb;
    --light-blue:#8b5cfb;
    --bxs:.1rem solid rgba(0, 0, 0, 0.5);
    --clp:polygon(0 0, 100% 0, 100% 100%, 0 100%);
    --clip-path2: polygon(0 0, 100% 0, 100% 0, 0 0);
    --shadow:10px 10px 30px rgba(0,0,0,0.1);
    --light-shadow:rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;;
    --big-shadow:rgba(0, 0, 0, 0.24) 0px 3px 8px;
    --shiny-shadow2:rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    --gradient:linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);
    --gradient0:linear-gradient(to right, #141e30, #243b55);
    --gradient1:linear-gradient(95.2deg, rgba(173,252,234,1) 26.8%, rgba(192,229,246,1) 64%);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* text-transform: capitalize; */
    outline: none;
    text-decoration: none;
    transition: all .5s linear;
}
*::selection{
    background-color:var(--dark);
    color: var(--orange);
}
html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}
html::-webkit-scrollbar{
    width: 0.5rem;
}
html::-webkit-scrollbar-track{
    background-color: transparent;
}
html::-webkit-scrollbar-thumb{
    background-color:#ffc727;
}
section{
    padding: 8rem 8%;
}
img{
    width: 100%;
    display: block;
}
.btn{
    padding: 1.3rem;
    outline: none;
    background-color: var(--dark);
    color:white;
    border-radius:3px;
    border: none;
    cursor: pointer;
}
.btn:hover{
    background-color:var(--orange);
    color: #071c33;
}
/* Loader */
.preloader{
    background-color:#fff;
    background-image: url(../images/loader/loader.gif);
    background-repeat: no-repeat;
    background-position: center;
    background-size:40%;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index:10000;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.preloader.fade-out{
    top:-100%;
    display: none;
}
iframe{
    display: none;
}
/* Loader ends */
/* header */
header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: var(--dark);
    padding: 2rem 8%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index:1000;
    border-bottom: 1px solid var(--orange);
}
header .logo img{
    width:60px;
}
.foot .title{
    width:100px;
}
.foot .title .logo{
    width: 100%;
}
header span{
    color: var(--orange);
}
header .logo:hover,
footer .logo:hover{
    transform: scale(1.2);
}
header #menubar{
    color: white;
    font-size:2.5rem;
    border:.1rem solid #b0bec5;
    border-radius: .25rem;
    padding: 0.5rem 0.7rem;
    cursor: pointer;
    display: none;
}
header .navbar a{
    margin: 0rem 2rem;
    color: white;
    font-size: 1.5rem;
}
header .navbar a:hover{
    color: var(--orange);
}
header .icons a{
    color: white;
    font-size: 2.5rem;
    text-decoration: none;
}
header .navbar .active,
header .icons .active{
    color: #ffc727;
}
header .icons a:hover{
    color: #ffc727;
}


/* Hero */
.hero{
    /* position: relative; */
    padding-top:6rem;
}
.hero .ImgSlider1{
    background-image: url(../images/home/hero0.jpg);
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 84vh;
}
.about .ImgSlider1{
    background-image: url(../images/about/about-main.jpg);
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 84vh;
}
.service .ImgSlider1{
    background-image: url(../images/services/serv0.jpg);
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 84vh;
}
.hero .ImgSlider2{
    background-image: url(../images/home/hero1.jpg);
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 84vh;
}
.about .ImgSlider2{
   background-image: url(../images/about/about-main1.jpg);
   position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 84vh; 
}
.service .ImgSlider2{
    background-image: url(../images/services/serv1.png);
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 84vh;
}
.hero .ImgSlider3{
    background-image: url(../images/home/hero2.jpg);
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 84vh;
}
.hero .bg{
    position: absolute;
    height: 84vh;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    overflow: hidden;
    z-index:10;
}
.hero .title{
    position: absolute;
    top:30%;
    left:0;
    padding-left: 8%;
    z-index: 100;
}
.hero .title h1{
    font-size:6rem;
    font-family: 'Montserrat';
    color: white;
    font-weight: lighter;
}
.hero .title span{
    color: #ffc727;
}
.hero .title p{
    font-weight: lighter;
    font-size:2.5rem;
    line-height:34px;
    color:white;
    margin:2rem 0;

}
.slides{
    display: none;
}

/* boxes */
.box .head h3{
    text-align: center;
    font-size:3rem;
    margin-bottom: 3rem;
    color:#44454f;
}
.box .head p{
    font-size:1.8rem;
    color:#888;
    text-align: center;
    line-height: 1.5;
}
.box .card{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, auto));
    grid-gap:2rem;
    align-items: center;
    margin-top:5rem;
}
.box .card .boxes{
    background-color:white;
    border-radius:5px;
    box-shadow: var(--shadow);
    width: 300px;
    height: 300px;
    cursor: pointer;
}
.box .card .boxes:hover{
    box-shadow: var(--big-shadow);
    transform: scale(.99);
}
.box .card .boxes .card-head{
    width: 290px;
    height: 290px;
}
.box .card .boxes .tile{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:2rem;
    width: 100%;
    height: 100%;
    text-align: center;
}

.box .card .boxes .tile h4{
    font-size: 2.5rem;
    color: var(--head);
    font-weight: lighter;
}
.box .card .boxes .tile i{
    font-size:2.5rem;
    color:var(--orange);
    background-color: var(--dark);
    width:60px;
    height:60px;
    border-radius:50%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.box .card .boxes .tile p{
    font-size: 1.5rem;
    color: var(--p);
}
/* About */
.about{
    background-color:#f9faff;
}
.about .about-head{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, auto));
    grid-gap:12rem;
    align-items: center;
}
.about-head .col .card h3,
.loss .head h3,
.about-head .history h3{
    color: var(--head);
    font-size:3rem;
}
.about-head .col .card p,
.loss .lead,
.about-head .history p{
    color: var(--p);
    font-size:1.7rem;
    line-height: 1.5;
    margin:2rem 0 4rem 0;
}
.about-head .col-bg,
.loss .Img{
    padding:.5rem;
    background:whitesmoke;
    box-shadow: var(--big-shadow);
    border-radius:3px;
}
.about-head .col-bg img,
.loss .Img img{
    border-radius:5px;
    box-shadow: var(--bxs);
}
/* About Ends */

/* Statistic */
.statistics{
    position: relative;
    background-image: url(../images/counter/counter-banner.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.statistics:before{
    position: absolute;
    content: '';
    background: rgba(0, 0, 0, 0.7);
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}
.statistics-counter{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, auto));
    gap:2rem;
}
.statistics-counter .card{
    display: flex;
    align-items:center;
    justify-content: flex-start;
    gap:2rem;
    color:white;
    z-index:10;
}
.statistics-counter .card .stat-img>i{
    color:var(--orange);
    font-size:7rem;
}
.statistics-counter .card .stat-counter{
    font-size:2rem;
    display: flex;
    flex-direction: column;
    gap:.5rem;
}
.statistics-counter .card .stat-counter .counter{
    font-size: 3rem;
    font-weight: bold;
}
.statistics-counter .card .stat-counter h3{
    text-transform: capitalize;
    font-weight: bolder;
}
/* Statistic Ends */




/* Project */
.pro-title{
    background-color:#f9faff;
}
.pro-head{
    text-align: center;
    margin-bottom: 5rem;
}
.pro-head h3{
    font-size: 3rem;
    color: var(--head);
}
.pro-head p{
    margin-top:2rem;
    font-size: 1.7rem;
}
.pro-info{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, auto));
    align-items: center;
    gap:2rem;
}

.pro-info .col,
.pro-info .col .card{
    position: relative;
    width: 300px;
    height:230px;
    cursor: pointer;
    box-shadow: var(--shadow);
    border-radius: 5px;
    overflow: hidden;
    display: none;
}
.pro-info .col:nth-child(1),
.pro-info .col .card:nth-child(1),
.pro-info .col:nth-child(2),
.pro-info .col .card:nth-child(2),
.pro-info .col:nth-child(3),
.pro-info .col .card:nth-child(3),
.pro-info .col:nth-child(4),
.pro-info .col .card:nth-child(4){
    display: inline-block;
}
.pro-info .col .overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    /* top:-100%; */
    left:0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap:1rem;
    background-color: rgba(0, 0, 0, 0.5);
    transform: scale(0);
    transition: .5s ease;
    -webkit-transform:scale(0);
    -moz-transform:scale(0);
    -ms-transform:scale(0);
    -o-transform:scale(0);
}
.pro-info .col .overlay a:hover{
    color: var(--orange);
    transition:.5s;
}
.pro-info .col:hover .overlay,
.pro-info .col:hover .card img{
    top: 0;
    transform: scale(1.2);
}
.pro-info .overlay h3,
.pro-info .overlay a{
    color: white;
    font-weight: lighter;
    font-size: 1.3rem;
}
.pro-info .col .card img {
    width: 100%;
    border-radius: 5px;
    transition: .5s ease;
}
.pro-load{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width:20%;
    margin: 3rem auto;
    color: white;
    font-size:1.7rem;
}
.pro-load:hover{
    color: #000;
}
/* Project Ends */

/* Loss */
.loss{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, auto));
    grid-gap:10rem;
    align-items: center;
}
/* Loss Ends */

/* Testimonial */
.testify{
    background-color:var(--dark);
}
.testify .testimonial .head h3{
    font-size: 3rem;
    text-align: center;
    color: white;
}
.testify .testimonial .details .card{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap:1rem;
    padding-top:5rem;
}
.testimonial .details .card .Imgbox{
    width:100px;
    height:100px;
}
.testimonial .details .card .Imgbox img{
    width: 100%;
    height: 100%;
    border-radius:50%;
    border:.1rem solid transparent;
}
.testify .testimonial .details .card .title{
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap:2rem;
    font-size:1.5rem;
    padding: 0.5rem 0;
}
.testify .testimonial .details .card i{
    font-size: 3rem;
    color: var(--orange);
}
.testify .testimonial .details .card p{
    width:80%;
    text-align: center;
    line-height: 1.5;
}
.testify .testimonial .details .card h3 a{
    text-transform: capitalize;
    color: var(--orange);
    font-size: 1.4rem;
}
.testify .testimonial .details .card h4{
    font-size:1.3rem;
}

.contact .info .contact-page .contact-info .social .icon a,
footer .logo-head .social .icon a{
    width:25px;
    height:25px;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: var(--big-shadow);
    border:.1rem solid var(--orange);
}
.testify .testimonial .details .card .icon i,
.contact .info .contact-page .contact-info .social .icon,
footer .logo-head .social .icon a i{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size:1.2rem;
    color: var(--dark);
    transition:.5s ease;
}
.testify .testimonial .details .card .icon a:hover,
.contact .info .contact-page .contact-info .social .icon a:hover,
footer .logo-head .social .icon a:hover{
    background-color: var(--orange);
    transform:scale(1.1);
}
.testify .testimonial .dot{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color:white;
    margin-top:2rem;
    gap: 2rem;
}
.testify .testimonial .dot span i{
    font-size:1.8rem;
    cursor: pointer;
}
.testify .testimonial .dot span i:hover{
    color: var(--orange);
}
/* Testimonial Ends */

/* Contact */
.contactPage .contact{
    margin: 0 auto;
}
.contactPage .info{
    margin-top:3rem;
}
.contact{
    position: relative;
    background-image: url('../images/Footer/map.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin:0rem auto;
}
.contact .bg{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
}
.contact .info{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.contact .info .title{
    text-align: center;
    color:white;
}
.contact .info .title h3{
    font-size: 3rem;
}
.contact .info .title p{
    font-size:1.8rem;
    margin-top: 1rem;
}
.contact .info .contact-page{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap:1rem;
    margin-top: 8rem;
}
.contact .info .contact-page .contact-info{
    display: flex;
    align-items: flex-start;
    justify-conent: flex-start;
    flex-direction: column;
    gap:3rem;
    color: white;
}
.contact .info .contact-page .contact-info h5,
.contact .info .contact-page .msgBox h5{
    font-size:2.5rem;
    margin-bottom:2rem;
    color:white;
}
.contact .info .contact-page .contact-info .address p{
    margin-bottom: 0.5rem;
    font-size: 1.4rem;
}
.contact .info .contact-page .contact-info .online-address{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap:1.5rem;
    font-size: 1.7rem;
}
.contact .info .contact-page .contact-info .online-address a{
    margin-left: 1rem;
    color: var(--orange);
}
.contact .info .contact-page .contact-info .online-address a:hover{
    color: white;
}
.contact .info .contact-page .contact-info .social,
footer .logo-head .social{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap:1.5rem;
    margin-top:2rem;
}
.contact .info .contact-page .contact-info .social a i{
    color: var(--midnightblue);
}
.contact .info .contact-page .msgBox .msgTxt{
    display: flex;
    align-items: flex-start;
    gap:2em;
    flex-direction: column;
}
.contact .info .contact-page .msgBox .msgTxt input{
    padding: 1rem;
    outline:none;
    border-radius:3px;
    background-color: white;
    color:#000;
    border:1px solid white;
    margin-right: 1rem;
}
.contact .info .contact-page .msgBox .msgTxt input:focus,
.contact .info .contact-page .msgBox .msgTxt textarea:focus{
    border:1px solid var(--orange);
}
.contact .info .contact-page .msgBox .msgTxt textarea{
    border-radius: 3px;
    background-color: white;
    outline: none;
    color:#000;
    border:1px solid white;
    padding:1rem;
    width:38rem;
	border: 1px solid #f9faff;
	outline:0!important;
    background:#f9faff;
}


/* Contact Ends */

/* Footer */
footer{
    background-color: var(--dark);
    color:white;
}
footer .foot{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, auto));
    gap:10rem;
}
.foot .logo-head{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap:.5rem;
}
.logo-head .logo{ 
    width:65px;
    height:65px;
    margin-bottom: -2rem;
    margin-left: -1rem;
}
.foot .logo-head p{
    font-size: 1.5rem;
    line-height: 1.5;
}
.foot .links{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap:1.5rem;
}
.foot h4{
    font-size:1.8rem;
    color: var(--orange);
}
.foot .link-home{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap:1.5rem;
}
.foot .link-home a{
    color:white;
    font-size: 1.5rem;
}
.foot .link-home a:hover{
    color:var(--orange);
    margin-left: 0.2rem;
}
.foot .news{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap:1.5rem;
}
.foot .news p{
    font-size: 1.5rem;
    line-height: 1.5;
}
.hm-foot-email form{
    display: flex;
}
.foot-email-box .form-control{
	background:#3d3d4d;
	display: block;
    padding: 1rem 1rem 1rem;
	outline:0!important;
	box-shadow:var(--big-shadow);
	border:0;
	border-top-left-radius:3px;
	border-bottom-left-radius:3px;
}
.foot-email-box input[placeholder="Email Address"]{
	color:white;
}
.foot-email-subscribe button{
    width:36px;
    height:36px;
    background:var(--orange);
	font-size:14px;
    color:var(--midnightblue);
    text-transform: uppercase;
	display:flex;
	align-items:center;
	justify-content:center;
	outline:0;
	box-shadow:var(--big-shadow);
	border: 0;
	border-top-right-radius:3px;
	border-bottom-right-radius:3px;
    cursor: pointer;
}
.foot-email-subscribe button:hover{
    background-color: var(--dodgerblue);
    color:white;
}

.footNote{
    background-color: var(--midnightblue);
}
.footNote section{
    padding:2rem 8%;
}
.footNote p{
    font-size: 1.6rem;
}
.footNote p a{
    color:var(--orange);
}
/* Scroller */
#scroll-Top .return-to-top{
    position: fixed;
    right: 30px;
    bottom:10px;
    width: 40px;
    line-height: 40px;
    visibility: hidden;
    opacity: 0;
    height: 40px;
    text-align: center;
    font-size:16px;
    cursor: pointer;
    color:var(--dark);
    background:var(--orange);
	border:1px solid var(--orange);
	border-radius:5px;
    -webkit-transition: .5s; 
	-moz-transition:.5s; 
	-ms-transition:.5s; 
	-o-transition:.5s;
    transition: .5s;
}
#scroll-Top  .return-to-top:hover {
    background:var(--orange);
    color:var(--dark);
	border:1px solid var(--orange);
	border-radius:50%;
}
#scroll-Top .return-to-top.active-top{
    visibility: visible;
    opacity: 1;
}
/* Scroller Ends */

/* Footer Ends */

/* About Page2 */
.history .timeline{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap:2rem;
}
.history .timeline .row h4{
    font-size: 1.6rem;
    color: var(--head);
}
.history .timeline .row{
    display: flex;
    align-items: flex-start;
    gap:1.5rem;
}
.history .timer .content .head span>i{
    margin-top: 0.3rem;
}
.history .timer .content .head span>i,
.mission-title .head span>i{
    display: block;
    color: var(--orange);
    font-size: 1.6rem;
}
.history .timer .content{
    display: flex;
    align-items: flex-start;
    gap:1.5rem;
}
.timer .content .descript{
    font-size: 15px;
    line-height:1.5;
    list-style: none;
    color: var(--p);
}
.timer{
    position: relative;
}
.timer:before{
    content: "";
    width:1px;
    background: #d0cece;
    position: absolute;
    top:33%;
    left:1.5%;
    height:120%;
}
.xtra-line .timer::before{
    display: none;
}
.mission{
    display: flex;
    flex-direction: column;
    gap:2rem;
}
.mission .mission-title{
    display: flex;
    align-items: flex-start;
    gap:1.5rem;
}
.mission .mission-title p{
    font-size: 15px;
    color: var(--p);
}
/* About Page2 Ends */

/* Services */
.service-test{
    margin-bottom: 8rem;
}
.servPlan{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap:4rem;
}
.successplan{
    position: relative;
    background-image: url('../images/Footer/map.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height:100vh;
}
.successplan::before{
    position: absolute;
    content: '';
    width: 100%;
    height:100vh;
    background-color: rgba(0, 0, 0, 0.7);
}
.closeX{
    background-color: #44da0b;
    padding: 1rem;
    width: 50%;
    font-size: 1.5rem;
    margin-top: 0.5rem;
}
.closeX:hover{
    background-color:#19ba2f;
}
.closeX a{
    color:white;
}

.check{
    position: absolute;
    top:-25px;
    right:43%;
    background-color:#44da0b;
    color:white;
    font-size:2rem;
    width:55px;
    height:55px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.success{
    position: relative;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap:1rem;
    margin:16rem auto;
}
.successplan .valSuccess{
    display: flex;
    align-items: center;
    justify-content: center;
}
.success{
    padding: 1rem;
    width:40rem;
    height: 20rem;
}
.success h3{
    font-size:2rem;
    text-transform:capitalize;
    color:var(--head);
    margin-top:2rem;
}
.success p{
    font-size: 1.5rem;
    line-height: 1.3;
}
.success span{
    font-size: 2rem;
    color:var(--p);
}
.servPlan .head h3{
    font-size:2.5rem;
    text-transform: uppercase;
    color: var(--head);
}
.servPlan .head p{
    color: var(--p);
    font-size: 1.6rem;
    margin-top: 1rem;
    line-height:1.5;
}

.servPlan .card{
   background-color:white; 
   box-shadow: var(--big-shadow);
   border-radius:5px;
}
.servPlan .card form h3{
    font-size:3rem;
    margin-bottom: 0.5rem;
    color: var(--head);
}
.servPlan .card form{
    display: flex;
    align-items:flex-start;
    justify-content:flex-start;
    flex-direction: column;
    margin: 2rem;
    padding: 1.5rem 2rem;
}
.servPlan form .info,
.servPlan form .serv{
    display: flex;
    gap:1rem;
    width: 100%;
}
.servPlan form .box{
    width: 100%;
    padding:1.5rem;
    margin: 0.6rem 0;
    border:.3px solid #e1e1e1;
    border-radius: .3rem;
    color:var(--dark);
    background-color: white;
}
.servPlan form .box:focus{
    border:.3px solid var(--dark);
}
.servPlan form .btn{
    background-color: var(--dark);
    color:white;
}
.servPlan form .btn:hover{
    background-color:var(--dodgerblue);
}
/* FAQs */
.faq-head{
    min-height:50vh; 
    width:100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.faq-head .title{
    font-size:2.5rem;
    color: var(--head);
}
.faq{
 max-width:800px;
 margin-top: 2rem;
 padding-bottom: 1rem;
 border-bottom:1.5px solid var(--head);  
 cursor: pointer; 
}
.question{
    display: flex;
    align-items: center;
    justify-content:space-between;
}
.question h3{
    font-size:21px;
    color: var(--head);
}
.answer{
    max-height: 0;
    overflow: hidden;
    transition:max-height 1.5s ease;
}
.answer p{
    font-size:17px;
    padding-top: 1rem;
    line-height: 1.5;
    color: var(--p);
}
.faq.active .answer{
    max-height:300px;
    animation: fade 1s ease-in-out;
}
.faq.active .arrow{
    transform: rotate(180deg);
}
.faq .arrow{
    transition:transform .5s ease-in;
}
@keyframes fade{
    from{
        opacity: 0;
        transform: translateY(-10px);
    }
    to{
        opacity: 1;
        transform: translateY(0px);
    }
}
/* FAQ Close */
/* responsiveness */
@media(max-width:1440px){
    .box .card {
        grid-template-columns: repeat(auto-fit, minmax(25rem, auto));
    }
    .box .card .boxes {
        width:290px;
        height: 300px;
    }
    .box .card .boxes .card-head {
        width:270px;
        height: 290px;
    }
    .pro-info {
        grid-template-columns: repeat(auto-fit, minmax(25rem, auto));
    }
    .pro-info .col, .pro-info .col .card {
        width:290px;
    }
    .pro-info .col .overlay {
        width:290px;
    }
}
@media(max-width:1024px){
    .box .card {
        grid-template-columns: repeat(auto-fit, minmax(35rem, auto));
    }
    .box .card .boxes {
        width:410px;
        height: 300px;
        padding-top: 0.7rem;
    }
    .box .card .boxes .card-head {
        width:390px;
        height: 290px;
        padding: 0.5rem 1rem;
    }
    .statistics-counter {
        grid-template-columns: repeat(auto-fit, minmax(13rem, auto));
        gap:1rem;
    }
    .statistics-counter .card .stat-img>i {
        font-size:4.5rem;
    }
    .statistics-counter .card .stat-counter .counter {
        font-size:2.5rem;
    }
    .statistics-counter .card .stat-counter {
        font-size:1.5rem;
    }
    .about .about-head,
    .loss{
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column;
        grid-gap:4rem;
    }
    .pro-info {
        grid-template-columns: repeat(auto-fit, minmax(35rem, auto));
    }
    .pro-info .col, .pro-info .col .card {
        width:410px;
    }
    .pro-info .col .overlay {
        width:410px;
        height:320px;
    }
    .contact .info .contact-page .msgBox .msgTxt .name,
    .contact .info .contact-page .msgBox .msgTxt .phone{
        display: flex;
        gap: 1rem;
    }
    .contact .info .contact-page .msgBox .msgTxt textarea {
        width: 39rem;
    }
    .footNote p {
        font-size: 1.4rem;
    }
    .timer:before {
        left:1%;
    }
    .servPlan {
        grid-template-columns: repeat(1, 1fr);
        gap: 4rem;
    }
}
@media only screen and (max-width:800px){
    header #menubar{
        display:inline;
    }
    .navbar.active{
        clip-path:var(--clp);
    }
   header .navbar{
        position:absolute;
        top:100%;
        left: 0;
        right: 0;
        background-color: var(--dark);
        clip-path:var(--clip-path2);
        border-top: 1px solid var(--orange);
        padding:1rem 3rem;
    }
    header .navbar a{
        display: block;
        padding: 1.5rem;
        margin:1rem 0;
        background-color: var(--midnightblue);
        border-radius: .25rem;
    }
    header .navbar a:hover{
        color: white;
        background-color: var(--dodgerblue);
    }
    .box .card {
        grid-template-columns: repeat(auto-fit, minmax(25rem, auto));
    }
    .box .card .boxes {
        width:310px;
        height:290px;
    }
    .box .card .boxes .card-head {
        width:310px;
        height:280px;
        padding: 1rem;
    }
    .statistics-counter {
        gap:3rem;
        grid-template-columns: repeat(auto-fit, minmax(25rem, auto));
    }
    .pro-info {
        grid-template-columns: repeat(auto-fit, minmax(25rem, auto));
    }
    .pro-info .col, .pro-info .col .card{
        width:310px;
    }
    .pro-info .col .overlay{
        width:310px;
        height:250px
    }
    .contact .info .contact-page{
        grid-template-columns: repeat(1, 1fr);
        grid-gap:6rem;
    }
    
    footer .foot{
        grid-gap:5rem;
    }
    .timer:before {
        left:1.3%;
    }
}

/* small screen */
@media only screen and (max-width:600px){
    .hero .title h1 {
        font-size:3.5rem;
    }
    .hero .title p{
        font-size:2rem;
        width: 95%;
    }
    .hero .title p br{
        display: none;
    }
    .box .card,
    .pro-info{
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .box .card .boxes {
        width:340px;
        height:300px;
    }
    .box .card .boxes .card-head {
        width:320px;
        height:290px;
        padding: 1rem;
    }
    .statistics-counter {
        gap:3rem;
    }
    .pro-info .col, .pro-info .col .card{
        width:340px;
    }
    .pro-info .col .overlay{
        width:340px;
        height:300px;
    }
    .loss {
        grid-gap:5rem;
    }
}
@media only screen and (max-width:500px){
    .box .card .boxes {
        width:355px;
        height:300px;
    }
    .box .card .boxes .card-head {
        width:350px;
        height:290px;
        /* padding: 1rem; */
    } 
    .box .card,
    .pro-info{
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .pro-info .col .overlay{
        height:230px;
    }
    .about .about-head {
        grid-gap:6rem;
    }
    .statistics-counter {
        gap:3rem;
    }
    .pro-load{
        width:50%;
    }
    .contact .info .contact-page .msgBox .msgTxt .name,
    .contact .info .contact-page .msgBox .msgTxt .phone{
        display: flex;
        align-items:flex-start;
        justify-content: flex-start;
        flex-direction: column;
        gap: 1rem;
    }
    .contact .info .contact-page .msgBox .msgTxt .name input,
    .contact .info .contact-page .msgBox .msgTxt .phone input{
        width:30rem;
    }
    .contact .info .contact-page .msgBox .msgTxt textarea {
        width: 30rem;
    }
    .timer:before {
        top:18%;
        left: 2.4%;
    }
    .servPlan .head h3,
    .servPlan .card form h3{
        font-size: 2rem;
    }

    .servPlan .card form{
        padding: 1rem;  
    }
    .servPlan form .info, .servPlan form .serv {
        display: flex;
        flex-direction: column;
    }
    
}

@media only screen and (max-width:380px){
    .box .card .boxes {
        width:315px;
        height:300px;
    }
    .box .card .boxes .card-head {
        width:315px;
        height:290px;
        /* padding: 1rem; */
    }
    .statistics-counter {
        gap:3rem;
    }
    .pro-info .col .overlay{
        height:230px;
    }
    .foot{
        grid-gap:4rem;
    }
    .timer:before {
        top:14%;
        height: 105%;
        left: 3%;
    }
}
@media only screen and (max-width:320px){
    .box .card .boxes {
        width:270px;
        height:320px;
    }
    .box .card .boxes .card-head {
        width:270px;
        height:320px;
        /* padding: 1rem; */
    }
    
    .statistics-counter {
        gap:3rem;
    }
    .pro-info {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(30rem, auto));
        align-items: center;
        gap: 2rem;
    }
    .pro-info .col, .pro-info .col .card,
    .pro-info .col .overlay{
        width:270px;
    }
    .pro-info .col .overlay{
        height:230px;
    }
    .about .about-head,
    .loss{
        grid-template-columns: repeat(auto-fit, minmax(28rem, auto));
    }
    .contact .info .contact-page {
        margin-top:3rem;
    }
    .contact .info .contact-page .msgBox .msgTxt .name input,
    .contact .info .contact-page .msgBox .msgTxt .phone input,
    .contact .info .contact-page .msgBox .msgTxt textarea{
        width:25rem;
    }
    .footNote p {
        font-size: 1.5rem;
    }
    .timer:before {
        top:10%;
        left: 3.5%;
        height: 110%;
    }

}
